body {
}

.todo-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.todo-add {
  padding-top: 1rem;
}
.todo-add input {
  width: 90%;
}

.todo-list {
  --primary-color: #444444;
  --secondary-color: yellow;

  color: white;
  background-color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  margin: auto;
  width: 50%;

  padding: 30px;
}

.todo-footer {
  display: flex;
  justify-content: center;
}

.todo-footer p {
  margin: auto;
}

.todo-footer span {
  color: var(--secondary-color);
}
